

.bmpBackGround {
    position: relative;
    width : 100%;
}

.OSU-MRN1 {
    position: absolute;
    width : 100%;
}

.GCM4-XG {
    position: absolute;
    width : 100%;
}
.testBox {
    position: absolute;
}